<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>LoginApp Web</title>
    </head>
    <body>

    <header th:insert="header.html"></header>

    <form th:object="${registroForm}" method="post">
        <label>Nombre: </label>
        <input th:field="*{nombre}" id="nombre" type="text"> <br/>
        <label>Contraseña: </label>
        <input th:field="*{password}" id="password" type="text"> <br/>
        <label>Repetir contraseña: </label>
        <input th:field="*{repeatPassword}" id="repeatPassword" type="text"> <br/>
        <button type="submit">Aceptar</button> <br/>
    </form>

    <input th:value="${result}">
    </body>
</html>